@keyframes merry_go_round_and_round_and_round {
    from {
        transform: translateX(-100%)
    }
    to {
        transform: translateX(100%);
    }
}

:root {
    --MAIN: #CEF0E9;
    --COMP: #F0CED5;
    --COMP_FONT: #df7187;
    --AN1: #CEE6F0;
    --AN2: #CEF0D8;
}

body {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--MAIN);
    overflow-x: hidden;
}

.header {
    background-color: var(--COMP);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;

    height: 3rem;
    width: 100%;

    padding-top: 3rem;
    padding-left: 2rem;
    padding-bottom: 2rem;

    margin-bottom: 10rem;

    transform-origin: bottom left;
    transform: rotate(-2deg);
}

.carousel_wrapper {
    background-color: var(--COMP);
    overflow: hidden;

    height: 600px;
    width: 120%;
    
    transform-origin: bottom left;
    transform: rotate(-2deg);
}

.carousel_fun_part {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;

    animation: merry_go_round_and_round_and_round;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
    animation-timing-function: linear;
    animation-duration: 20s;
}

.carousel_fun_part:hover {
    animation-play-state: paused;
}

.carousel_platform {
    height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.carousel_passengers {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel_passenger {
    height: 95%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.passenger_image {
    height: 100%;
    width: auto;
    border-radius: 2px;
    filter: sepia(0.8);
    transition: 1s;
}

.passenger_image:hover {
    filter: sepia(0);
}

